USE [master]
GO
IF EXISTS (SELECT name FROM sys.databases WHERE name = 'SICARSICRE')
	BEGIN
		ALTER DATABASE [SICARSICRE] SET single_user WITH ROLLBACK IMMEDIATE
		DROP DATABASE [SICARSICRE]
	END
GO
CREATE DATABASE [SICARSICRE]
GO
USE [SICARSICRE]
GO
CREATE TABLE [dbo].[ca_carga](
	[idcarga] [int] IDENTITY(1,1) NOT NULL,
	[idcotizacion] [int] NULL,
	[idunidad] [int] NOT NULL,
	[idcargatipo] [int] NOT NULL,
	[ancho] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[largo] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[peso] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[volumen] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[profundidad] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[descripcion] [varchar](100) NULL,
	[monto] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[idorden] [int] NULL,
PRIMARY KEY
(
	[idcarga] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_cargatipo](
	[idcargatipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[costo] [decimal](18, 2) NOT NULL DEFAULT ((0)),
PRIMARY KEY
(
	[idcargatipo] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_cliente](
	[idpersona] [int] NOT NULL,
	[deuda] [bit] NOT NULL DEFAULT ((0)),
	[ruc] [char](11) NULL,
PRIMARY KEY
(
	[idpersona] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_cotizacion](
	[idcotizacion] [int] IDENTITY(1,1) NOT NULL,
	[idpersona] [int] NOT NULL,
	[idservicio] [int] NOT NULL,
	[idep] [char](2) NOT NULL,
	[ipro] [char](2) NOT NULL,
	[idis] [char](2) NOT NULL,
	[fdep] [char](2) NOT NULL,
	[fpro] [char](2) NOT NULL,
	[fdis] [char](2) NOT NULL,
	[numero] [char](10) NOT NULL,
	[fecha] [date] NOT NULL DEFAULT (getdate()),
	[idir] [varchar](200) NOT NULL,
	[fdir] [varchar](200) NOT NULL,
	[observacion] [varchar](200) NOT NULL,
	[bruto] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[neto] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[estado] [char](1) NOT NULL DEFAULT ('G'),
	[distancia] [decimal](18, 2) NOT NULL DEFAULT ((0)),
PRIMARY KEY
(
	[idcotizacion] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_detalleplanot](
	[iddetalleplanot] [int] IDENTITY(1,1) NOT NULL,
	[idplanot] [int] NULL,
	[idorden] [int] NULL,
	[flgestado] [char](1) NULL,
	[idunidad] [int] NULL,
	[idcargatipo] [int] NULL,
	[descripcion] [varchar](50) NULL,
	[estado] [char](1) NULL,
PRIMARY KEY
(
	[iddetalleplanot] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_distancia](
	[idep] [char](2) NOT NULL,
	[ipro] [char](2) NOT NULL,
	[idis] [char](2) NOT NULL,
	[fdep] [char](2) NOT NULL,
	[fpro] [char](2) NOT NULL,
	[fdis] [char](2) NOT NULL,
	[distancia] [int] NOT NULL,
PRIMARY KEY
(
	[idep] ASC,
	[ipro] ASC,
	[idis] ASC,
	[fdep] ASC,
	[fpro] ASC,
	[fdis] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_orden](
	[idorden] [int] IDENTITY(1,1) NOT NULL,
	[idpersona] [int] NULL,
	[numero] [char](10) NOT NULL,
	[fecha] [date] NOT NULL DEFAULT (getdate()),
	[idcotizacion] [int] NULL,
	[idcliente] [int] NOT NULL,
	[idservicio] [int] NOT NULL,
	[idep] [char](2) NOT NULL,
	[ipro] [char](2) NOT NULL,
	[idis] [char](2) NOT NULL,
	[fdep] [char](2) NOT NULL,
	[fpro] [char](2) NOT NULL,
	[fdis] [char](2) NOT NULL,
	[idir] [varchar](200) NOT NULL,
	[fdir] [varchar](200) NOT NULL,
	[observacion] [varchar](200) NOT NULL,
	[bruto] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[neto] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[estado] [char](1) NOT NULL DEFAULT ('G'),
	[distancia] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[cfecha] [date] NULL,
	[chora] [time](7) NULL,
	[cnombre] [varchar](100) NULL,
	[ccelular] [varchar](20) NULL,
	[cemail] [varchar](100) NULL,
PRIMARY KEY
(
	[idorden] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_persona](
	[idpersona] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [char](10) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[correo] [varchar](100) NULL,
	[domicilio] [varchar](200) NULL,
PRIMARY KEY
(
	[idpersona] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_planot](
	[idplanot] [int] IDENTITY(1,1) NOT NULL,
	[idvehiculo] [int] NULL,
	[fechaInicio] [date] NULL,
	[fechaFin] [date] NULL,
	[estado] [char](1) NULL,
	[idservicio] [int] NULL,
	[observacion] [varchar](200) NULL,
PRIMARY KEY
(
	[idplanot] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_servicio](
	[idservicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[costo] [decimal](18, 2) NOT NULL DEFAULT ((0)),
PRIMARY KEY
(
	[idservicio] ASC
)
)

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_transportista](
	[idpersona] [int] NOT NULL,
	[tiempo] [int] NOT NULL DEFAULT ((120)),
PRIMARY KEY
(
	[idpersona] ASC
)
)

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_ubicacion](
	[idubicacion] [int] IDENTITY(1,1) NOT NULL,
	[idorden] [int] NOT NULL,
	[latitud] [varchar](20) NOT NULL,
	[longitud] [varchar](20) NOT NULL,
	[hora] [datetime] NOT NULL,
	[direccion] [varchar](200) NULL,
PRIMARY KEY
(
	[idubicacion] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_ubigeo](
	[dep] [char](2) NOT NULL,
	[pro] [char](2) NOT NULL,
	[dis] [char](2) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[latitud] [varchar](20) NULL,
	[longitud] [varchar](20) NULL,
PRIMARY KEY
(
	[dep] ASC,
	[pro] ASC,
	[dis] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_unidad](
	[idunidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY
(
	[idunidad] ASC
)
)

GO

GO

GO

GO
CREATE TABLE [dbo].[ca_vehiculotransporitsta](
	[idvehiculo] [int] NOT NULL,
	[idpersona] [nchar](10) NOT NULL,
PRIMARY KEY
(
	[idvehiculo] ASC,
	[idpersona] ASC
)
)

GO

GO

GO
CREATE TABLE [dbo].[cr_analista](
	[idpersona] [int] NOT NULL,
	[autonomia] [decimal](18, 2) NOT NULL DEFAULT ((10000)),
PRIMARY KEY
(
	[idpersona] ASC
)
)

GO

GO

GO

GO
CREATE TABLE [dbo].[cr_aprobacion](
	[idaprobacion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY
(
	[idaprobacion] ASC
)
)

GO

GO

GO

GO
CREATE TABLE [dbo].[cr_calificacion](
	[idcalificacion] [int] IDENTITY(1,1) NOT NULL,
	[idcrediticio] [int] NOT NULL,
	[idperiodo] [int] NOT NULL,
	[deuda] [decimal](18, 2) NOT NULL,
	[entidad] [int] NOT NULL,
	[normal] [decimal](18, 2) NOT NULL,
	[problema] [decimal](18, 2) NOT NULL,
	[deficiente] [decimal](18, 2) NOT NULL,
	[dudoso] [decimal](18, 2) NOT NULL,
	[perdida] [decimal](18, 2) NOT NULL,
PRIMARY KEY
(
	[idcalificacion] ASC
)
)

GO

GO

GO
CREATE TABLE [dbo].[cr_crediticio](
	[idcrediticio] [int] IDENTITY(1,1) NOT NULL,
	[idpersona] [int] NOT NULL,
	[fechacreacion] [date] NOT NULL,
PRIMARY KEY
(
	[idcrediticio] ASC
)
)

GO

GO

GO

GO
CREATE TABLE [dbo].[cr_habilitacion](
	[idhabilitacion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY
(
	[idhabilitacion] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[cr_motivo](
	[idmotivo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY
(
	[idmotivo] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[cr_periodo](
	[idperiodo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [char](6) NOT NULL,
	[activo] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY
(
	[idperiodo] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[cr_solicitud](
	[idsolicitud] [int] IDENTITY(1,1) NOT NULL,
	[idimportador] [int] NOT NULL,
	[iddistribuidor] [int] NOT NULL,
	[idaprobacion] [int] NOT NULL,
	[idhabilitacion] [int] NOT NULL,
	[idmotivo] [int] NOT NULL,
	[monto] [decimal](18, 2) NOT NULL,
	[fechacreacion] [date] NOT NULL,
	[fecharevision] [date] NULL,
	[observacionaprobacion] [varchar](200) NULL,
	[observacionhabilitacion] [varchar](200) NULL,
	[idanalista] [int] NOT NULL,
	[aprobado] [decimal](18, 2) NOT NULL,
	[garantizado] [decimal](18, 2) NOT NULL,
	[garantia] [bit] NOT NULL,
PRIMARY KEY
(
	[idsolicitud] ASC
)
)

GO

GO

GO

GO

GO
CREATE TABLE [dbo].[Itinerario](
	[idItinerario] [int] NOT NULL,
	[numero] [varchar](10) NULL,
	[idTransportista] [int] NULL,
	[rutaOptima] [varchar](50) NULL,
PRIMARY KEY
(
	[idItinerario] ASC
)
)

GO

GO

GO

GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
PRIMARY KEY
(
	[UserId] ASC
)
)

GO

GO

GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY
(
	[UserId] ASC
)
)

GO

GO

GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY
(
	[Provider] ASC,
	[ProviderUserId] ASC
)
)

GO

GO

GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY
(
	[RoleId] ASC
)
)

GO

GO

GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY
(
	[UserId] ASC,
	[RoleId] ASC
)
)

GO
SET IDENTITY_INSERT [dbo].[ca_carga] ON 

INSERT [dbo].[ca_carga] ([idcarga], [idcotizacion], [idunidad], [idcargatipo], [ancho], [largo], [peso], [volumen], [profundidad], [descripcion], [monto], [idorden]) VALUES (2, 2, 1, 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(13551.61 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ca_carga] ([idcarga], [idcotizacion], [idunidad], [idcargatipo], [ancho], [largo], [peso], [volumen], [profundidad], [descripcion], [monto], [idorden]) VALUES (3, 2, 2, 3, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(18068.82 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ca_carga] ([idcarga], [idcotizacion], [idunidad], [idcargatipo], [ancho], [largo], [peso], [volumen], [profundidad], [descripcion], [monto], [idorden]) VALUES (4, 3, 1, 3, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(132126.95 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ca_carga] OFF
SET IDENTITY_INSERT [dbo].[ca_cargatipo] ON 

INSERT [dbo].[ca_cargatipo] ([idcargatipo], [nombre], [costo]) VALUES (1, N'PELIGROSA', CAST(60.00 AS Decimal(18, 2)))
INSERT [dbo].[ca_cargatipo] ([idcargatipo], [nombre], [costo]) VALUES (2, N'SECO', CAST(70.00 AS Decimal(18, 2)))
INSERT [dbo].[ca_cargatipo] ([idcargatipo], [nombre], [costo]) VALUES (3, N'PESADA', CAST(80.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ca_cargatipo] OFF
INSERT [dbo].[ca_cliente] ([idpersona], [deuda], [ruc]) VALUES (5, 0, N'15555555556')
INSERT [dbo].[ca_cliente] ([idpersona], [deuda], [ruc]) VALUES (6, 0, N'16666666667')
INSERT [dbo].[ca_cliente] ([idpersona], [deuda], [ruc]) VALUES (7, 0, N'17777777778')
SET IDENTITY_INSERT [dbo].[ca_cotizacion] ON 

INSERT [dbo].[ca_cotizacion] ([idcotizacion], [idpersona], [idservicio], [idep], [ipro], [idis], [fdep], [fpro], [fdis], [numero], [fecha], [idir], [fdir], [observacion], [bruto], [neto], [estado], [distancia]) VALUES (2, 5, 1, N'01', N'03', N'06', N'14', N'02', N'03', N'0000000001', CAST(N'2015-03-25' AS Date), N'C', N'C', N'La fecha de vencimiento', CAST(31620.44 AS Decimal(18, 2)), CAST(31620.44 AS Decimal(18, 2)), N'G', CAST(225.86 AS Decimal(18, 2)))
INSERT [dbo].[ca_cotizacion] ([idcotizacion], [idpersona], [idservicio], [idep], [ipro], [idis], [fdep], [fpro], [fdis], [numero], [fecha], [idir], [fdir], [observacion], [bruto], [neto], [estado], [distancia]) VALUES (3, 7, 1, N'23', N'04', N'05', N'16', N'07', N'03', N'0000000002', CAST(N'2015-03-25' AS Date), N'G', N'G', N'La fecha de vencimiento', CAST(247738.03 AS Decimal(18, 2)), CAST(247738.03 AS Decimal(18, 2)), N'G', CAST(1651.58 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ca_cotizacion] OFF
SET IDENTITY_INSERT [dbo].[ca_detalleplanot] ON 

INSERT [dbo].[ca_detalleplanot] ([iddetalleplanot], [idplanot], [idorden], [flgestado], [idunidad], [idcargatipo], [descripcion], [estado]) VALUES (1, 2, 6, NULL, 3, 7, N'xxvcxvdsdsf ew', N'G')
INSERT [dbo].[ca_detalleplanot] ([iddetalleplanot], [idplanot], [idorden], [flgestado], [idunidad], [idcargatipo], [descripcion], [estado]) VALUES (2, 3, 4, NULL, 1, 5, N'peras', N'G')
SET IDENTITY_INSERT [dbo].[ca_detalleplanot] OFF
SET IDENTITY_INSERT [dbo].[ca_orden] ON 

INSERT [dbo].[ca_orden] ([idorden], [idpersona], [numero], [fecha], [idcotizacion], [idcliente], [idservicio], [idep], [ipro], [idis], [fdep], [fpro], [fdis], [idir], [fdir], [observacion], [bruto], [neto], [estado], [distancia], [cfecha], [chora], [cnombre], [ccelular], [cemail]) VALUES (1, 1, N'0000000001', CAST(N'2015-03-01' AS Date), NULL, 5, 1, N'01', N'01', N'01', N'02', N'01', N'01', N'a', N'b', N'c', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'G', CAST(0.00 AS Decimal(18, 2)), CAST(N'2015-03-24' AS Date), CAST(N'23:22:00' AS Time), N'a', N's', N'd')
INSERT [dbo].[ca_orden] ([idorden], [idpersona], [numero], [fecha], [idcotizacion], [idcliente], [idservicio], [idep], [ipro], [idis], [fdep], [fpro], [fdis], [idir], [fdir], [observacion], [bruto], [neto], [estado], [distancia], [cfecha], [chora], [cnombre], [ccelular], [cemail]) VALUES (2, 2, N'0000000002', CAST(N'2015-03-02' AS Date), NULL, 6, 2, N'03', N'01', N'01', N'04', N'01', N'01', N'a', N'b', N'c', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'G', CAST(0.00 AS Decimal(18, 2)), CAST(N'2015-03-25' AS Date), CAST(N'23:22:02' AS Time), N'a', N's', N'd')
INSERT [dbo].[ca_orden] ([idorden], [idpersona], [numero], [fecha], [idcotizacion], [idcliente], [idservicio], [idep], [ipro], [idis], [fdep], [fpro], [fdis], [idir], [fdir], [observacion], [bruto], [neto], [estado], [distancia], [cfecha], [chora], [cnombre], [ccelular], [cemail]) VALUES (3, 3, N'0000000003', CAST(N'2015-03-03' AS Date), NULL, 7, 1, N'05', N'01', N'01', N'06', N'01', N'01', N'a', N'b', N'c', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'G', CAST(0.00 AS Decimal(18, 2)), CAST(N'2015-03-26' AS Date), CAST(N'23:22:06' AS Time), N'a', N's', N'd')
SET IDENTITY_INSERT [dbo].[ca_orden] OFF
SET IDENTITY_INSERT [dbo].[ca_persona] ON 

INSERT [dbo].[ca_persona] ([idpersona], [codigo], [nombre], [correo], [domicilio]) VALUES (1, N'1111111111', N'Transportista 1', NULL, NULL)
INSERT [dbo].[ca_persona] ([idpersona], [codigo], [nombre], [correo], [domicilio]) VALUES (2, N'2222222222', N'Transportista 2', NULL, NULL)
INSERT [dbo].[ca_persona] ([idpersona], [codigo], [nombre], [correo], [domicilio]) VALUES (3, N'3333333333', N'Transportista 3', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ca_persona] OFF
SET IDENTITY_INSERT [dbo].[ca_planot] ON 

INSERT [dbo].[ca_planot] ([idplanot], [idvehiculo], [fechaInicio], [fechaFin], [estado], [idservicio], [observacion]) VALUES (1, 2, CAST(N'2015-03-20' AS Date), CAST(N'2015-03-27' AS Date), N'G', 1, N' sdv')
INSERT [dbo].[ca_planot] ([idplanot], [idvehiculo], [fechaInicio], [fechaFin], [estado], [idservicio], [observacion]) VALUES (2, 4, CAST(N'2015-03-20' AS Date), CAST(N'2015-03-28' AS Date), N'G', 1, N' fdfs')
INSERT [dbo].[ca_planot] ([idplanot], [idvehiculo], [fechaInicio], [fechaFin], [estado], [idservicio], [observacion]) VALUES (3, 2, CAST(N'2015-03-21' AS Date), CAST(N'2015-03-24' AS Date), N'G', 1, N' dsfdsf')
SET IDENTITY_INSERT [dbo].[ca_planot] OFF
SET IDENTITY_INSERT [dbo].[ca_servicio] ON 

INSERT [dbo].[ca_servicio] ([idservicio], [nombre], [costo]) VALUES (1, N'STANDARD', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[ca_servicio] ([idservicio], [nombre], [costo]) VALUES (2, N'EXPRESS', CAST(50.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ca_servicio] OFF
INSERT [dbo].[ca_transportista] ([idpersona], [tiempo]) VALUES (1, 120)
INSERT [dbo].[ca_transportista] ([idpersona], [tiempo]) VALUES (2, 120)
INSERT [dbo].[ca_transportista] ([idpersona], [tiempo]) VALUES (3, 120)
SET IDENTITY_INSERT [dbo].[ca_ubicacion] ON 

INSERT [dbo].[ca_ubicacion] ([idubicacion], [idorden], [latitud], [longitud], [hora], [direccion]) VALUES (1, 1, N'-15.873178', N'-72.9778', CAST(N'2015-03-01 12:19:09.000' AS DateTime), N'Cuno Cuno, Peru')
INSERT [dbo].[ca_ubicacion] ([idubicacion], [idorden], [latitud], [longitud], [hora], [direccion]) VALUES (2, 1, N'-14.388461', N'-75.0432', CAST(N'2015-03-01 14:19:50.000' AS DateTime), N'Carretera a Ocaña, Peru')
INSERT [dbo].[ca_ubicacion] ([idubicacion], [idorden], [latitud], [longitud], [hora], [direccion]) VALUES (3, 1, N'-11.023767', N'-77.1746', CAST(N'2015-03-01 15:20:19.000' AS DateTime), N'18, Peru')
GO
SET IDENTITY_INSERT [dbo].[ca_ubicacion] OFF
INSERT [dbo].[ca_ubigeo] ([dep], [pro], [dis], [nombre], [latitud], [longitud]) VALUES (N'01', N'00', N'00', N'AMAZONAS', NULL, NULL)
INSERT [dbo].[ca_ubigeo] ([dep], [pro], [dis], [nombre], [latitud], [longitud]) VALUES (N'01', N'01', N'00', N'CHACHAPOYAS', NULL, NULL)
INSERT [dbo].[ca_ubigeo] ([dep], [pro], [dis], [nombre], [latitud], [longitud]) VALUES (N'01', N'01', N'01', N'CHACHAPOYAS', N'-6.2301547', N'-77.8708478')
GO
SET IDENTITY_INSERT [dbo].[ca_unidad] ON 

INSERT [dbo].[ca_unidad] ([idunidad], [nombre]) VALUES (1, N'Metros')
INSERT [dbo].[ca_unidad] ([idunidad], [nombre]) VALUES (2, N'Kilogramos')
SET IDENTITY_INSERT [dbo].[ca_unidad] OFF
INSERT [dbo].[cr_analista] ([idpersona], [autonomia]) VALUES (9, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[cr_analista] ([idpersona], [autonomia]) VALUES (10, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[cr_analista] ([idpersona], [autonomia]) VALUES (11, CAST(10000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[cr_aprobacion] ON 

INSERT [dbo].[cr_aprobacion] ([idaprobacion], [descripcion]) VALUES (1, N'Pendiente')
INSERT [dbo].[cr_aprobacion] ([idaprobacion], [descripcion]) VALUES (2, N'Aprobar')
INSERT [dbo].[cr_aprobacion] ([idaprobacion], [descripcion]) VALUES (3, N'Rechazar')
SET IDENTITY_INSERT [dbo].[cr_aprobacion] OFF
SET IDENTITY_INSERT [dbo].[cr_habilitacion] ON 

INSERT [dbo].[cr_habilitacion] ([idhabilitacion], [descripcion]) VALUES (1, N'Pendiente')
INSERT [dbo].[cr_habilitacion] ([idhabilitacion], [descripcion]) VALUES (2, N'Admitida')
INSERT [dbo].[cr_habilitacion] ([idhabilitacion], [descripcion]) VALUES (3, N'Aprobada')
SET IDENTITY_INSERT [dbo].[cr_habilitacion] OFF
SET IDENTITY_INSERT [dbo].[cr_motivo] ON 

INSERT [dbo].[cr_motivo] ([idmotivo], [descripcion]) VALUES (1, N'Apertura de línea')
INSERT [dbo].[cr_motivo] ([idmotivo], [descripcion]) VALUES (2, N'Aumento de línea')
INSERT [dbo].[cr_motivo] ([idmotivo], [descripcion]) VALUES (3, N'Exceso de línea')
SET IDENTITY_INSERT [dbo].[cr_motivo] OFF
SET IDENTITY_INSERT [dbo].[cr_periodo] ON 

INSERT [dbo].[cr_periodo] ([idperiodo], [descripcion], [activo]) VALUES (1, N'201401', 0)
INSERT [dbo].[cr_periodo] ([idperiodo], [descripcion], [activo]) VALUES (2, N'201402', 0)
INSERT [dbo].[cr_periodo] ([idperiodo], [descripcion], [activo]) VALUES (3, N'201403', 0)
SET IDENTITY_INSERT [dbo].[cr_periodo] OFF


GO
ALTER TABLE [dbo].[ca_cotizacion] ADD UNIQUE
(
	[numero] ASC
)
GO


GO
ALTER TABLE [dbo].[ca_orden] ADD UNIQUE
(
	[numero] ASC
)
GO


GO
ALTER TABLE [dbo].[UserProfile] ADD UNIQUE
(
	[UserName] ASC
)
GO


GO
ALTER TABLE [dbo].[webpages_Roles] ADD UNIQUE
(
	[RoleName] ASC
)
GO
ALTER TABLE [dbo].[ca_distancia] ADD  DEFAULT ((50)) FOR [distancia]
GO
ALTER TABLE [dbo].[cr_calificacion] ADD  DEFAULT ((0)) FOR [deuda]
GO
ALTER TABLE [dbo].[cr_calificacion] ADD  DEFAULT ((0)) FOR [entidad]
GO
ALTER TABLE [dbo].[cr_calificacion] ADD  DEFAULT ((0)) FOR [normal]
GO
ALTER TABLE [dbo].[cr_calificacion] ADD  DEFAULT ((0)) FOR [problema]
GO
ALTER TABLE [dbo].[cr_calificacion] ADD  DEFAULT ((0)) FOR [deficiente]
GO
ALTER TABLE [dbo].[cr_calificacion] ADD  DEFAULT ((0)) FOR [dudoso]
GO
ALTER TABLE [dbo].[cr_calificacion] ADD  DEFAULT ((0)) FOR [perdida]
GO
ALTER TABLE [dbo].[cr_crediticio] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[cr_solicitud] ADD  DEFAULT ((0)) FOR [monto]
GO
ALTER TABLE [dbo].[cr_solicitud] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[cr_solicitud] ADD  DEFAULT ((0)) FOR [aprobado]
GO
ALTER TABLE [dbo].[cr_solicitud] ADD  DEFAULT ((0)) FOR [garantizado]
GO
ALTER TABLE [dbo].[cr_solicitud] ADD  DEFAULT ((0)) FOR [garantia]
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
GO
ALTER TABLE [dbo].[ca_carga] ADD FOREIGN KEY([idcargatipo])
REFERENCES [dbo].[ca_cargatipo] ([idcargatipo])
GO
ALTER TABLE [dbo].[ca_carga] ADD FOREIGN KEY([idcotizacion])
REFERENCES [dbo].[ca_cotizacion] ([idcotizacion])
GO
ALTER TABLE [dbo].[ca_carga] ADD FOREIGN KEY([idorden])
REFERENCES [dbo].[ca_orden] ([idorden])
GO
ALTER TABLE [dbo].[ca_carga] ADD FOREIGN KEY([idunidad])
REFERENCES [dbo].[ca_unidad] ([idunidad])
GO
ALTER TABLE [dbo].[ca_cliente] ADD FOREIGN KEY([idpersona])
REFERENCES [dbo].[ca_persona] ([idpersona])
GO
ALTER TABLE [dbo].[ca_cotizacion] ADD FOREIGN KEY([idpersona])
REFERENCES [dbo].[ca_cliente] ([idpersona])
GO
ALTER TABLE [dbo].[ca_cotizacion] ADD FOREIGN KEY([idservicio])
REFERENCES [dbo].[ca_servicio] ([idservicio])
GO
ALTER TABLE [dbo].[ca_cotizacion] ADD FOREIGN KEY([idep], [ipro], [idis])
REFERENCES [dbo].[ca_ubigeo] ([dep], [pro], [dis])
GO
ALTER TABLE [dbo].[ca_cotizacion] ADD FOREIGN KEY([fdep], [fpro], [fdis])
REFERENCES [dbo].[ca_ubigeo] ([dep], [pro], [dis])
GO
ALTER TABLE [dbo].[ca_distancia] ADD FOREIGN KEY([idep], [ipro], [idis])
REFERENCES [dbo].[ca_ubigeo] ([dep], [pro], [dis])
GO
ALTER TABLE [dbo].[ca_distancia] ADD FOREIGN KEY([fdep], [fpro], [fdis])
REFERENCES [dbo].[ca_ubigeo] ([dep], [pro], [dis])
GO
ALTER TABLE [dbo].[ca_orden] ADD FOREIGN KEY([idep], [ipro], [idis])
REFERENCES [dbo].[ca_ubigeo] ([dep], [pro], [dis])
GO
ALTER TABLE [dbo].[ca_orden] ADD FOREIGN KEY([fdep], [fpro], [fdis])
REFERENCES [dbo].[ca_ubigeo] ([dep], [pro], [dis])
GO
ALTER TABLE [dbo].[ca_orden] ADD FOREIGN KEY([idcliente])
REFERENCES [dbo].[ca_cliente] ([idpersona])
GO
ALTER TABLE [dbo].[ca_orden] ADD FOREIGN KEY([idcotizacion])
REFERENCES [dbo].[ca_cotizacion] ([idcotizacion])
GO
ALTER TABLE [dbo].[ca_orden] ADD FOREIGN KEY([idpersona])
REFERENCES [dbo].[ca_transportista] ([idpersona])
GO
ALTER TABLE [dbo].[ca_orden] ADD FOREIGN KEY([idservicio])
REFERENCES [dbo].[ca_servicio] ([idservicio])
GO
ALTER TABLE [dbo].[ca_transportista] ADD FOREIGN KEY([idpersona])
REFERENCES [dbo].[ca_persona] ([idpersona])
GO
ALTER TABLE [dbo].[ca_ubicacion] ADD FOREIGN KEY([idorden])
REFERENCES [dbo].[ca_orden] ([idorden])
GO
ALTER TABLE [dbo].[cr_analista] ADD FOREIGN KEY([idpersona])
REFERENCES [dbo].[ca_persona] ([idpersona])
GO
ALTER TABLE [dbo].[cr_calificacion] ADD FOREIGN KEY([idcrediticio])
REFERENCES [dbo].[cr_crediticio] ([idcrediticio])
GO
ALTER TABLE [dbo].[cr_calificacion] ADD FOREIGN KEY([idperiodo])
REFERENCES [dbo].[cr_periodo] ([idperiodo])
GO
ALTER TABLE [dbo].[cr_crediticio] ADD FOREIGN KEY([idpersona])
REFERENCES [dbo].[ca_cliente] ([idpersona])
GO
ALTER TABLE [dbo].[cr_solicitud] ADD FOREIGN KEY([idanalista])
REFERENCES [dbo].[cr_analista] ([idpersona])
GO
ALTER TABLE [dbo].[cr_solicitud] ADD FOREIGN KEY([idaprobacion])
REFERENCES [dbo].[cr_aprobacion] ([idaprobacion])
GO
ALTER TABLE [dbo].[cr_solicitud] ADD FOREIGN KEY([iddistribuidor])
REFERENCES [dbo].[ca_cliente] ([idpersona])
GO
ALTER TABLE [dbo].[cr_solicitud] ADD FOREIGN KEY([idhabilitacion])
REFERENCES [dbo].[cr_habilitacion] ([idhabilitacion])
GO
ALTER TABLE [dbo].[cr_solicitud] ADD FOREIGN KEY([idimportador])
REFERENCES [dbo].[ca_cliente] ([idpersona])
GO
ALTER TABLE [dbo].[cr_solicitud] ADD FOREIGN KEY([idmotivo])
REFERENCES [dbo].[cr_motivo] ([idmotivo])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
